PORT=5000
SUPABASE_URL=https://czcjhtrmmetvixjrhekj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6Y2podHJtbWV0dml4anJoZWtqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAyNjUxNzIsImV4cCI6MjA4NTg0MTE3Mn0.y8vGKYEvImxiqW01I9-GMzaBRolbGHmHBDElQrtFjbg

